@{
    ViewBag.Title = "AddOrganizationMenu";
}

@model OrganizationsWebApplication.Models.DtoOrganization

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../../Content/style.css" type="text/css" />
    </head>
<body>
    <h3>Add New Organization</h3>

    <text style="color: white">Please input organization name:</text>
    @using (Html.BeginForm("AddOrganization", "Home"))
    {
        <table>
            <tr>
                <td>
                    <div class="container">
                        <div class="group">
                            @Html.TextBoxFor(m => m.Name, new { @class = "inputMaterial", @type = "text" })
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Name</label>
                            <span style="bottom: 35px; left: 55%; position:relative; ">
                                <input type="image" src="../../Content/ic_done_24px.svg" alt="create" name="submit" />
                            </span>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    }

</body>
</html>