@using OrganizationsWebApplication.Controllers
@model OrganizationsWebApplication.Models.OrganizationListModels

@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <style type="text/css">
        button#submit
    {
        width: 25px;
        height: 30px;
    }
        .block1 { 
            width: 200px; 
            background: #green;
            padding: 5px;
            padding-right: 20px; 
            border: solid 1px black; 
            float: left;
        }
    </style>

</head>
<body style="font-family:Consolas;color:#569CD6;font-size:20px; background-color:#262626;">
    <h3>Organizations</h3>

    <table border="5" bgcolor="#000000">

        @foreach (var organization in Model.Organizations)
        {
            <tr>
                <td>
                    @Html.ActionLink(organization.Name, "OrganizationInfo",
                        new { id = organization.Id },
                        new { style = "color: white" })
                </td>
                <td>
                    @using (Html.BeginForm("UpdateOrganizationMenu", "Home", new { id = organization.Id }))
                    {
                        <button type="submit">Edit</button>
                    }
                </td>
                <td>
                    @using (Html.BeginForm("DeleteOrganization", "Home", new { id = organization.Id }))
                    {
                        <button type="submit">Delete</button>
                    }
                </td>
            </tr>
        }
    </table>
    <p></p>
    <p></p>
    @using (Html.BeginForm("AddOrganizationMenu", "Home", FormMethod.Post))
    {
        <button type="submit">Add organization</button>
    }
</body>
</html>