@using OrganizationsWebApplication.Controllers
@model OrganizationsWebApplication.Models.OrganizationListModels

@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../../Content/style.css" type="text/css" />
    <title></title>
</head>
<body>
    <h3>Organizations</h3>

    <table>
        @foreach (var organization in Model.Organizations)
        {
            <tr>
                <td class="block">
                    @Html.ActionLink(organization.Name, "OrganizationInfo",
                        new { id = organization.Id })
                </td>

                <td class="operationBlock">
                    @using (Html.BeginForm("UpdateOrganizationMenu", "Home", new { id = organization.Id }))
                    {
                        <input type="image" src="../../Content/ic_mode_edit_24px.svg" alt="edit" name="submit">
                        //<button type="submit">Edit</button>
                    }
                </td>
                <td class="operationBlock">
                    @using (Html.BeginForm("DeleteOrganization", "Home", new { id = organization.Id }))
                    {
                        <input type="image" src="../../Content/ic_delete_24px.svg" alt="delete" name="submit">
                        //<button type="submit">Delete</button>
                    }
                </td>
            </tr>
        }
    </table>
    <p></p>
    <p></p>
    @using (Html.BeginForm("AddOrganizationMenu", "Home", FormMethod.Post))
    {
        <button type="submit">Add organization</button>
    }
</body>
</html>