@model OrganizationsWebApplication.Models.OrganizationListModels

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<h2>Организации</h2>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Организации</title>
</head>
<body>
    @foreach (var organization in Model.Organizations)
    {
        //@Html.ActionLink(organization.Name, "Department", null, new { id = organization.Id })
        @Html.ActionLink(organization.Name, "OrganizationInfo", new { org = organization } )
        <div></div>
    }

</body>
</html>