@using OrganizationsWebApplication.Controllers
@model OrganizationsWebApplication.Models.OrganizationListModels

@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
<head>
</head>
<body style="font-family:Consolas;color:#569CD6;font-size:20px; background-color:#262626;">
    <h3>Organizations</h3>
    <table>
        @foreach (var organization in Model.Organizations)
        {
            <tr>
                <td>
                    @Html.ActionLink(organization.Name, "OrganizationInfo",
        new { id = organization.Id },
        new { style = "color: white" })
                </td>

                <td>
                    @using (Html.BeginForm("EditOrganization", "Home", new { id = organization.Id }))
                    {
                        <button type="submit">Edit</button>
                    }
                </td>
                <td>
                    @using (Html.BeginForm("DeleteOrganization", "Home", new { id = organization.Id }))
                    {
                        <button type="submit">Delete</button>
                    }
                </td>
            </tr>

            <p></p>
        }
    </table>
    <p></p>
    @using (Html.BeginForm("AddOrganizationMenu", "Home", FormMethod.Post))
    {
        <button type="submit">Add organization</button>
    }
</body>
</html>