@model OrganizationsWebApplication.Models.OrganizationModel

@{
    ViewBag.Title = "Department";
}

<html>
<head>
</head>
<body style="font-family:Consolas;color:#569CD6;font-size:20px; background-color:#262626;">
    <div>
        <h3>Organization @Model.Name</h3>

        @foreach (var department in Model.Departments)
        {
            @Html.ActionLink(department.Name, "DepartmentInfo", new { id = department.Id }, new { style = "color: white" })
            <div></div>
        }
        
    </div>
    <p></p>
    @using (Html.BeginForm("AddDepartmentMenu", "Home", FormMethod.Post))
    {
        <button type="submit">Add department</button>
    }
    

</body>
</html>