@model OrganizationsWebApplication.Models.OrganizationModel

@{
    ViewBag.Title = "Department";
}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../../Content/style.css" type="text/css" />
    </head>
<body>
   
        <h3>Organization @Model.Name</h3>
        <table>
            @foreach (var department in Model.Departments)
            {
                <tr>
                    <td class="block">
                        @Html.ActionLink(department.Name, "DepartmentInfo",
                        new { id = department.Id }
                        )
                    </td>

                    <td class="operationBlock">
                        @using (Html.BeginForm("UpdateDepartmentMenu", "Home",
                            new { id = department.Id }))
                        {
                            <input type="image" src="../../Content/ic_mode_edit_24px.svg" alt="edit" name="submit" />
                        }
                    </td>
                    <td class="operationBlock">
                        @using (Html.BeginForm("DeleteDepartment", "Home",
                            new { id = department.Id }))
                        {
                            <input type="image" src="../../Content/ic_delete_24px.svg" alt="delete" name="submit" />
                        }
                    </td>
                </tr>
            }
        </table>
    <p></p>
    @using (Html.BeginForm("AddDepartmentMenu", "Home", new { id = @Model.Id }, FormMethod.Post))
    {
        <button type="submit">Add department</button>
    }


</body>
</html>