
@model Organizations.Facade

@{
    ViewBag.Title = "Index";
}

<h2>Организации</h2>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Организации</title>
</head>
    <body>
        @foreach (var organization in Model.GetAllOrganizations() )
        {
            @Html.ActionLink(@organization.Name, "Department")
            <div></div>
            //<link href="/Views/Facade/">Название организации: @organization.Name</>
        }

    </body>
</html>