
@model Organizations.Facade

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
    <body>
        Age of random employee:
        @Model.GetRandomEmployee().Age
    </body>
</html>