@model OrganizationsWebApplication.Models.PagesModels.AdministrationViewModel
@using OrganizationsWebApplication.LocalResource
@{
    ViewBag.Title = Resource.ChangeRolesMenu;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="wrapper">
    <div class="content">
        
            @using (Html.BeginForm("ChangeRolesMenu", "AdministrationMenu"))
            {
                @Html.DropDownListFor(model => model.EmployeeViewModel.Id,
            new SelectList(Model.Content, "Id", "Name"), "Choose")

                <input type="submit" value="@Resource.ChangeToAdmin">
            }
    </div>
</div>