@model OrganizationsWebApplication.Models.ListOfOrganizationsViewModel

@{
    ViewBag.Title = "Organizations list";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper">

    @Html.Partial("~/Views/_MainCommandsBar.cshtml", @Model.Page)

    <div class="content">
        @foreach (var organization in Model.Organizations)
        {
            <div class="row">
                <span class="block">
                    @Html.ActionLink(organization.Name, "OrganizationInfo", "Organization",
                        new { id = organization.Id }, null)
                </span>

                @if (Roles.IsUserInRole("admin"))
                {
                    <span class="operationBlock">
                        @using (Html.BeginForm("UpdateOrganizationMenu", "Organization", new { id = organization.Id }))
                        {
                            <input type="image" src="../../Content/ic_mode_edit_24px.svg" alt="edit" name="submit" />
                        }
                        @using (Html.BeginForm("DeleteOrganization", "Organization", new { id = organization.Id }))
                        {
                            <input type="image" src="../../Content/ic_delete_24px.svg" alt="delete" name="submit" />
                        }
                    </span>
                }
            </div>
        }
    </div>
</div>

@Html.Partial("~/Views/_PagingBar.cshtml", Model.Page)

