html, body {
    height: 80%;
    padding: 0;
    margin: 0;
}

.wrapper {
    background-color: #f9f9f9;
    min-height: 100%;
    padding-bottom: 50px; 
}

body {
    position: absolute;
    left: 30%;
}


/*//dropdown menu//*/
nav ul {
    background: #303F9F;
    font-size: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
    width: 100%;
}

nav li {
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;
    min-width: 33%;
}

nav a {
    background: #303F9F;
    color: #fff;
    display: block;
    font: bold 16px/30px sans-serif;
    padding: 0 25px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

nav .dropdown:after {
    content: ' \25bc';
}

nav li:hover a {
    background: #1A237E;
}

nav li ul {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 35px;
    visibility: hidden;
    z-index: 1;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

nav li:hover ul {
    opacity: 1;
    top: 30px;
    visibility: visible;
}

nav li ul li {
    width: 100%;
}

nav li ul a:hover {
    background: #2196F3;
}

/*////////////////////////////////////*/
.userMenu {
    width: 600px;
    background: #303F9F;
}

/*////////////////////////////////////*/
.block a {
    padding: 15px;
    display: block;
}

.grid .block a {
    display: block;
}

/*////////////////////////////////////*/
body {
    font-family: "RobotoDraft","Roboto",sans-serif;
    font-size: 10px;
    color: #569CD6;
    background-color: white;
}

button {
    padding: 5px;
    border: none;
    background: #E0E0E0;
    font-family: "RobotoDraft","Roboto",sans-serif;
    font-size: 20px;
}

table {
    border-collapse: collapse;
}

a {
    color: #000000;
    background-color: transparent;
    font-weight: normal;
    text-decoration: none;
}


.header {
    width: 600px;
    font-size: 20px;
    display: inline-block;
    padding: 5px;
}

.content {
    font-size: 0;
    width: 600px;
    display: table;
    table-layout: fixed;
}

    .content.grid {
        margin-left: -10px;
        display: block;
    }

.row {
    font-size: 0;
    background: #eee;
    display: table-row;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

    .row:hover {
        background-color: #6CF;
    }

    .row + .row {
        margin-top: 10px;
    }

    .row > .block, .row > .operationBlock {
        border-top: 5px solid #fff;
        padding: 0;
    }


.content.grid .row > .block, .content.grid .row > .operationBlock {
    border-top: 0;
}

.content.grid > .row {
    display: inline-block;
    width: 33.3%;
    position: relative;
    padding: 0;
    border-left: 10px solid #fff;
}


    .content.grid > .row .block a {
        padding: 40px 10px 10px 10px;
        text-align: center;
        height: 150px;
        display: block;
        vertical-align: middle;
        overflow: hidden;
        border-bottom: 10px solid #eee;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
    }

    .content.grid > .row:hover .block a {
        border-bottom: 10px solid #6CF;
    }



.content .block, .content .operationBlock {
    display: table-cell;
}


.content .operationBlock {
    text-align: right;
    padding-right: 10px;
    width: 70px;
}

.content.grid .operationBlock {
    width: auto;
}

.content.grid .block, .content.grid .operationBlock {
    display: inline-block;
}

.block, .operationBlock {
    vertical-align: middle;
    display: inline-block;
    padding: 5px;
}

.block {
    width: 70%;
    font-size: 18px;
    text-align: left;
}

.operationBlock {
    text-align: left;
    font-size: 0;
    text-align: center;
}

.grid .operationBlock {
    position: absolute;
    top: 0;
    right: 0;
    white-space: nowrap;
    width: auto;
    padding: 10px;
    z-index: 100;
}

.grid .block {
    display: block;
    width: 100%;
}

.operationBlock button {
    padding: 0;
    background: transparent;
    cursor: pointer;
}

.operationBlock form {
    display: inline-block;
    font-size: 18px;
    vertical-align: middle;
}

    .operationBlock form + form {
        margin-left: 10px;
    }

/* ANIMATIONS ================ */
* {
    box-sizing: border-box;
}

/* basic stylings ------------------------------------------ */
.container {
    width: 500px;
    display: block;
    background: #E8EAF6;
    padding: 50px 50px 50px;
}

/* form starting stylings ------------------------------- */
.group {
    position: relative;
    margin-bottom: 45px;
}

.inputMaterial {
    font-size: 18px;
    padding: 10px 50px 10px 5px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid #757575;
}

input:focus {
    outline: none;
}

/* LABEL ======================================= */
label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: #5264AE;
}

/* BOTTOM BARS ================================= */
.bar {
    position: relative;
    display: block;
    width: 300px;
}

    .bar:before, .bar:after {
        content: '';
        height: 2px;
        width: 0;
        bottom: 1px;
        position: absolute;
        background: #5264AE;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }

    .bar:before {
        left: 50%;
    }

    .bar:after {
        right: 50%;
    }

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
    width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 0%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

/* active state */
input:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}
