/*////////////////////////////////////*/
body {
    /*font-family: Consolas;*/
    font-family: "RobotoDraft","Roboto",sans-serif;
    font-size: 10px;
    color: #569CD6;
    background-color: #f9f9f9;
}

button {
    padding: 5px;
    border: none;
    background: #E0E0E0;
    font-family: "RobotoDraft","Roboto",sans-serif;
    font-size: 20px;
}

table {
    border-collapse: collapse;
}

a {
    color: #000000;
    background-color: transparent;
    font-weight: normal;
    text-decoration: none;
}

.header {
    width: 400px;
    font-size: 20px;
    display: inline-block;
    padding: 5px;
}

.content {
    font-size: 0;
    width: 400px;
}

    .content.grid {
        margin-left: -10px;
    }

.row {
    font-size: 0;
    background: #eee;
    display: block;
}

    .row + .row {
        margin-top: 10px;
    }

.content.grid > .row {
    display: inline-block;
    width: 33.3%;
    position: relative;
    padding: 50px 10px;
    border-left: 10px solid #fff;
}

.block, .operationBlock {
    vertical-align: middle;
    display: inline-block;
    padding: 5px;
}

.block {
    width: 70%;
    font-size: 12px;
    text-align: left;
}

.operationBlock {
    text-align: left;
 
    font-size: 0;
    text-align: center;
}


.grid .operationBlock {
    position: absolute;
    top: 0;
    right: 0;
    white-space: nowrap;
    z-index: 1;
    width: auto;
}

.grid .block {
    display: block;
    width: 100%;
}

.operationBlock button {
    padding: 0;
    background: transparent;
    cursor: pointer;
}

.operationBlock form {
    display: inline-block;
    font-size: 12px;
    vertical-align: middle;
}

    .operationBlock form + form {
        margin-left: 10px;
    }

/* ANIMATIONS ================ */
* {
    box-sizing: border-box;
}

/* basic stylings ------------------------------------------ */
.container {
    width: 500px;
    display: block;
    background: #E8EAF6;
    padding: 50px 50px 50px;
}

/* form starting stylings ------------------------------- */
.group {
    position: relative;
    margin-bottom: 45px;
}

.inputMaterial {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid #757575;
}

input:focus {
    outline: none;
}

/* LABEL ======================================= */
label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: #5264AE;
}

/* BOTTOM BARS ================================= */
.bar {
    position: relative;
    display: block;
    width: 300px;
}

    .bar:before, .bar:after {
        content: '';
        height: 2px;
        width: 0;
        bottom: 1px;
        position: absolute;
        background: #5264AE;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }

    .bar:before {
        left: 50%;
    }

    .bar:after {
        right: 50%;
    }

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
    width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 0%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

/* active state */
input:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}
