@{
    ViewBag.Title = "AddDepartmentMenu";
}

@model OrganizationsWebApplication.Models.DtoDepartment

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../../Content/style.css" type="text/css" />
</head>
<body>
    <table>
        <tr>
            <td class="block" style="background: #3F51B5; width: 400px">
                <span style="color: #fff">
                    Please input department name:
                </span>
            </td>
        </tr>
    </table>
   
    @using (Html.BeginForm("AddDepartment", "Department"))
    {
        <table>
            <tr>
                <td>
                    <div class="container">
                        <div class="group">
                            @Html.HiddenFor(m => m.ParentId)
                            @Html.TextBoxFor(m => m.Name, new { @class = "inputMaterial", @type = "text" })
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Name</label>
                            <span style="bottom: 35px; left: 65%; position:relative; ">
                                <input type="image" src="../../Content/ic_done_24px.svg" alt="create" name="submit" />
                            </span>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    }
</body>
</html>