@using OrganizationsWebApplication.LocalResource
@model OrganizationsWebApplication.Models.PagesModels.OrganizationsListViewModel

@{
    ViewBag.Title = @Resource.OrganizationsList;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper">

    <div class="content">
        @foreach (var organization in Model.Content)
        {
            <div class="row">
                <span class="block">
                    @Html.ActionLink(organization.Name, "OrganizationInfo", "OrganizationInfo",
                        new
                        {
                            id = organization.Id,
                            CurrentPageNumber = 1,
                            Model.ViewStateProperty.SortType
                        }, null)
                </span>

                @if ((Roles.IsUserInRole("admin")))
                {
                    <span class="operationBlock">
                        @using (Html.BeginForm("UpdateOrganizationMenu", "OrganizationsList", new
                        {
                            id = organization.Id,
                            Model.ViewStateProperty.CurrentPageNumber,
                            Model.ViewStateProperty.SortType
                        }))
                        {
                            <input type="image" src="../../Content/ic_mode_edit_24px.svg" alt="edit" name="submit" />
                        }
                        @using (Html.BeginForm("DeleteOrganization", "OrganizationsList", new
                        {
                            id = organization.Id,
                            Model.ViewStateProperty.CurrentPageNumber,
                            Model.ViewStateProperty.SortType
                        }))
                        {
                            <input type="image" src="../../Content/ic_delete_24px.svg" alt="delete" name="submit" />
                        }
                    </span>
                }
            </div>
        }
    </div>
</div>


@if (Model.ViewStateProperty.ViewType == "list")
{
    <script>
        setListView()
    </script>
}

@if (Model.ViewStateProperty.ViewType == "grid")
{
    <script>
        setGridView()
    </script>
}

