<button ng-click="getResult()">
    Export
</button>


<div class="block">
    File was created:
</div>

<div class="block">
    <h3>{{ resultFile }}</h3>
</div>

<p>
<p>

    <div class="block">
        Recent:
    </div>

    <div class="block">
        <div ng-repeat="file in files.list">
            {{ file.name }}

            <button ng-click="downloadFile(file.name)">
                Download
            </button>
        </div>
    </div>
<p>
<p>



    <link rel="stylesheet" href="../../Content/style.css" type="text/css" />

