<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="XmlServiceLibrary.XmlService" behaviorConfiguration="XmlServiceBehave">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:801/XmlService"/>
            <add baseAddress="net.tcp://localhost:808/XmlService"/>
          </baseAddresses>
        </host>
        <endpoint address="http://localhost:801/XmlService" binding="basicHttpBinding" contract="XmlServiceLibrary.IXmlService"/>
        <endpoint address="net.tcp://localhost:808/XmlService" binding="netTcpBinding" contract="XmlServiceLibrary.IXmlService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="XmlServiceBehave">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>