@{
    ViewBag.Title = "Login";
    Layout = null;

}

@model OrganizationsWebApplication.Models.Account


<!DOCTYPE html>

<html>
<head runat="server">
    <link rel="stylesheet" href="../../Content/style.css" type="text/css" />
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>

    <div class="header" style="background: #3F51B5;">
        <span style="background: #3F51B5;">
            <span style="color: #fff">
                <h2>Login</h2>

                @using (Html.BeginForm("Login", "Account"))
                {
                    <table>
                        <tr>
                            <td>
                                <div class="accountContainer">
                                    <div class="group">
                                        @Html.TextBoxFor(m => m.UserName, new { @class = "inputMaterial", @type = "text", @required = "required" })
                                        <span class="highlight"></span>
                                        <span class="bar"></span>
                                        <label>UserName</label>
                                    </div>

                                    <div class="group">
                                        @Html.TextBoxFor(m => m.Password, new { @class = "inputMaterial", @type = "text", @required = "required" })
                                        <span class="highlight"></span>
                                        <span class="bar"></span>
                                        <label>Password</label>
                                    </div>
                                    <input type="submit" value="OK">
                                    <br>
                                    <br>
                                    <a href="/account/register">New user? Register here!</a>
                                </div>
                            </td>
                        </tr>
                    </table>
                }
            </span>
        </span>
    </div>

</body>
</html>
