@{
    ViewBag.Title = "Register";
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head runat="server">
        <link rel="stylesheet" href="../../Content/style.css" type="text/css" />
        <meta name="viewport" content="width=device-width" />
        <title>Register</title>
    </head>
<body>

    <div class="header" style="background: #3F51B5;">
        <span style="background: #3F51B5;">
            <span style="color: #fff">

                <h2>Register</h2>
                <form method="post" action="/account/register">
                    <table cellpadding="3">
                        <tr>
                            <td>User Name :</td>
                            <td><input type="text" name="username" /></td>
                        </tr>
                        <tr>
                            <td>Password :</td>
                            <td><input type="password" name="password" /></td>
                        </tr>
                        <tr>
                            <td colspan="2"><input type="submit" value="Register"></td>
                        </tr>
                    </table>
                </form>
            </span>
        </span>
    </div>

</body>
</html>
