@{
    ViewBag.Title = "Choose Department";
    Layout = null;
}

@model OrganizationsWebApplication.Models.PagesModels.RegisterViewModel

<!DOCTYPE html>

<html>
<head runat="server">
    <link rel="stylesheet" href="../../Content/style.css" type="text/css" />
    <meta name="viewport" content="width=device-width" />
    <title>Choose Department</title>
</head>
<body>

    <div class="header" style="background: #3F51B5;">
        <span style="background: #3F51B5;">
            <span style="color: #fff">
                <h2>Choose Department</h2>

                @using (Html.BeginForm("RegisterFinishing", "Account"))
                {
                    <table>
                        <tr>
                            <td>
                                <div class="accountContainer">
                                    <div class="group">
                                        @Html.HiddenFor(m => m.Account.UserName)
                                    </div>
                                    <div class="group">
                                        @Html.HiddenFor(m => m.Account.Password)
                                    </div>
                                    
                                    <div class="group">
                                        @Html.HiddenFor(m => m.Account.OrganizationId)
                                    </div>

                                    <div class="group">
                                        @Html.DropDownListFor(model => model.Account.DepartmentId,
                                            new SelectList(Model.DepartmentsList, "Id", "Name"), "Choose")
                                    </div>
                                    
                                    <input type="submit" value="Complete registration">
                                </div>
                            </td>
                        </tr>
                    </table>
                }
            </span>
        </span>
    </div>
</body>
</html>
