@model OrganizationsWebApplication.Models.Page


@if (@Model.PageType == "departmentsPage")
{
    <span class="operationBlock" style="background: #3F51B5; width: 600px; height: 50px">

        @using (Html.BeginForm("GoBackFromOrganizationInfo", "Navigation", @Model, FormMethod.Post))
        {
            <input type="image" src="../../Content/ic_home_24px_inverse.svg" alt="add" name="submit" />
        }
    </span>
    <br>
}

@if (@Model.PageType == "employeesPage")
{
    <span class="operationBlock" style="background: #3F51B5; width: 600px; height: 50px">

        @using (Html.BeginForm("GoBackFromDepartmentInfo", "Navigation", @Model, FormMethod.Post))
        {
            <input type="image" src="../../Content/ic_home_24px_inverse.svg" alt="add" name="submit" />
        }
    </span>
    <br>
}

