@using OrganizationsWebApplication.Helpers
@using OrganizationsWebApplication.Models
@model OrganizationsWebApplication.Models.PagesModels.BaseViewModel

@{
    var helper = new MainCommandsViewHelper(Model);
}

<span class="operationBlock" style="background: #3F51B5; width: 600px; height: 50px">
    
    @if (helper.GoHomeController != null)
    {
        using (Html.BeginForm(helper.GoHomeAction, helper.GoHomeController, new
    {
        id = @Model.viewConditionProperty.ParentId,
        Model.viewConditionProperty.CurrentPageNumber,
        Model.viewConditionProperty.SortType
    }, FormMethod.Post))
        {
            <input type="image" src="../../Content/ic_home_24px_inverse.svg" alt="home" name="submit" />
        }
    }
    
    
    @using (Html.BeginForm(helper.ChangeSortingAction, helper.ControllerName, new
    {
        id = Model.viewConditionProperty.Id,
        Model.viewConditionProperty.CurrentPageNumber,
        Model.viewConditionProperty.SortType
    }, FormMethod.Post))
    {
        if (Model.viewConditionProperty.SortType == "desc")
        {
            <input type="image" src="../../Content/sort-ascending.svg" alt="sort" name="submit" />
        }

        if (Model.viewConditionProperty.SortType == "asc")
        {
            <input type="image" src="../../Content/sort-descending.svg" alt="sort" name="submit" />
        }
    }
 

    @if (Roles.IsUserInRole("admin"))
    {
        using (Html.BeginForm(helper.AddNewEntityAction, helper.ControllerName, new
    {
        id = @Model.viewConditionProperty.Id,
        Model.viewConditionProperty.CurrentPageNumber,
        Model.viewConditionProperty.SortType
    }, FormMethod.Post))
        {
            <input style="background: #3F51B5" type="image" src="../../Content/ic_add_box_24px_inverse.svg" alt="add" name="submit" />

        }
    }
  
</span>