@using OrganizationsWebApplication.Controllers
@using OrganizationsWebApplication.Models
@using Page = OrganizationsWebApplication.Models.Page
@model OrganizationsWebApplication.Models.Page

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <script type="text/javascript" src="jquery.cookie.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="../../Scripts/JavaScript.js"></script>
    <link rel="stylesheet" href="../../Content/style.css" type="text/css" />
</head>
<body>

    <span class="operationBlock" style="background: #000; width: 600px; height: 50px">

        @if (@Model.MaxPageNumber > 0)
        {
            using (Html.BeginForm("Prev", "Navigation", @Model))
            {
                <input type="image" src="../../Content/ic-double-left.svg" name="submit" style="cursor: pointer;" />
            }
            <form>
                <span style="font-family: RobotoDraft, Roboto, sans-serif; font-size: 20px; color: #ffffff;">
                    @Model.CurrentPageNumber / @Model.MaxPageNumber
                </span>
            </form>
            using (Html.BeginForm("Next", "Navigation", @Model))
            {
                <input type="image" src="../../Content/ic-double-right.svg" name="submit" style="cursor: pointer;" />
            }
        }
    </span>

</body>
</html>
