@using OrganizationsWebApplication.Helpers
@model OrganizationsWebApplication.Models.PagesModels.BaseViewModel

@{
    var helper = new MainCommandsViewHelper(Model);
}

<span class="operationBlock" style="background: #000; width: 600px; height: 50px; margin-top: -50px;display: block;">

    @using (Html.BeginForm(helper.GoPrevPageAction, helper.ControllerName, new
        {
            id = @Model.viewConditionProperty.Id,
            Model.viewConditionProperty.CurrentPageNumber,
            Model.viewConditionProperty.SortType
        }))
    {
        <input type="image" src="../../Content/ic-double-left.svg" name="submit" style="cursor: pointer;" />
    }
    <form>
        <span style="font-family: RobotoDraft, Roboto, sans-serif; font-size: 20px; color: #ffffff;">
            @Model.viewConditionProperty.CurrentPageNumber / @Model.viewConditionProperty.MaxPageNumber
        </span>
    </form>
    @using (Html.BeginForm(helper.GoNextPageAction, helper.ControllerName, new
            {
                id = @Model.viewConditionProperty.Id,
                Model.viewConditionProperty.CurrentPageNumber,
                Model.viewConditionProperty.SortType
            }))
    {
        <input type="image" src="../../Content/ic-double-right.svg" name="submit" style="cursor: pointer;" />
    }

</span>
